.patients-index {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-table {
  background-color: rgba($color: white, $alpha: 0.88);
  box-shadow: 1px 1px 8px black;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

td {
  text-align: center;
}

th {
  text-align: center;
}
