.patients-index {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-table {
  background-color: rgba($color: white, $alpha: 0.88);
  box-shadow: 1px 1px 8px black;
  border-radius: 5px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.btn-ghost {
  background-color: white;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.signup-form h2 {
  text-align: center;
}
