.patients-show {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.patient-infos {
  text-align: center;
  color: white;
}

.patient-reports {
  width: 40%;
  border: 1px solid grey;
  background-color: white;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.patient-new-evaluation {
  width: 60%;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.patient-evaluations {
  border: 1px solid grey;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
  h3 {
    margin-top: 12px;
  }
}

.evaluations-table {
  margin-top: 20px;
}

.evaluation-button {
  border: 1px solid grey;
  background-color: rgba($color: white, $alpha: 0.8);
  padding: 5px 12px;
  border-radius: 30px;
  &:hover {
    background-color: rgba($color: rgb(238, 238, 238), $alpha: 0.8);
  }
}

.back-button {
  margin-bottom: -22px;
}

.group-name {
  border: 1px solid grey;
  background-color: rgba($color: white, $alpha: 0.8);
  padding: 6px 40px;
  margin: 5px 10px;
  border-radius: 30px;
  width: fit-content;
  &:hover {
    background-color: rgba($color: rgb(238, 238, 238), $alpha: 0.8);
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-control {
  display: inline;
  width: auto;
  margin-left: 12px;
  margin-right: 6px;
}

.evaluation_score {
  margin-bottom: 0!important;
}

.mesure-span {
  padding-top: 0.4rem;
}

.form-check-input {
  display: none
}

// .form-check-label:checked {
//   background-color: #0D6EFD;
//   border-color: #0D6EFD;
// }

.form-check-label {
  display: inline-block;
  background-color: white;
  border: 1px solid grey;
  border-radius: 16px;
  padding: 6px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
}

.form-check-input[type="radio"]:checked+label {
  background-color: rgb(144, 200, 255);
}

.form-check {
  padding-left: 0;
  text-align: center;
}
