.patients-show {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.patient-infos {
  text-align: center;
  color: white;
}

.patient-reports {
  width: 30%;
  border: 1px solid grey;
  background-color: white;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.patient-new-evaluation {
  width: 70%;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.patient-evaluations {
  border: 1px solid grey;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
  h3 {
    margin-top: 12px;
  }
}

.evaluations-table {
  margin-top: 20px;
}

.evaluation-button {
  border: 1px solid grey;
  background-color: rgba($color: white, $alpha: 0.8);
  padding: 5px 12px;
  border-radius: 30px;
  &:hover {
    background-color: rgba($color: rgb(238, 238, 238), $alpha: 0.8);
  }
}

.back-button {
  margin-bottom: -22px;
}
