<div class="container">
  <div class="homepage-catcher">
    <h1 class="homepage-title">Neuralysis</h1>
    <h2 class="catcher-sentence">Calculate tests' results and writing reports has never been easier...</h2>
    <%= image_tag "fake_search_bar.png", class: "fake-search-bar"%>
  </div>

  <div class="features">
    <div class="feature feature1">
      <h3>Add your patient</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ipsa illum cum amet quidem veniam expedita dolore.</p>
    </div>

    <div class="feature feature2">
      <h3>Calculate the tests' results</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ipsa illum cum amet quidem veniam expedita dolore.</p>
    </div>

    <div class="feature feature3">
      <h3>Generate a complete report</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ipsa illum cum amet quidem veniam expedita dolore.</p>
    </div>
  </div>
</div>
