<div class="container report-container">
  <h1 class="report-title"><%= @patient.first_name %> <%= @patient.last_name %> : Report (<%= @report.created_at.strftime("%e %^b %Y") %>)</h1>

  <!-- Target -->
    <textarea id="bar">Mussum ipsum cacilds...</textarea>

    <!-- Trigger -->
    <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
      Copy to clipboard
    </button>

  <div class="report-wrapper">
    <% @report.evaluations.each do |evaluation| %>
      <div><%= evaluation.norm.name %></div>
    <% end %>
  </div>
</div>
